* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

ul,
ol {
  list-style: none;
}

#gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

#validation-input {
  border: 6px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
